[submodule "modules/cellxgene"]
        path = modules/cellxgene
        url = https://github.com/epigen/cellxgene
[submodule "modules/Geneformer"]
        path = modules/Geneformer
        url = https://github.com/epigen/Geneformer
[submodule "src/datasets/archs4/metasra"]
        path = src/datasets/archs4_geo/metasra
        url = https://github.com/dmalzl/metasra
[submodule "modules/LLaVA"]
        path = modules/LLaVA
        url = https://github.com/epigen/llava
[submodule "modules/UCE"]
				path = modules/UCE
				url = https://github.com/epigen/UCE
[submodule "modules/DeepSpot"]
				path = modules/DeepSpot
				url = https://github.com/ratschlab/DeepSpot
[submodule "modules/MUSK"]
				path = modules/MUSK
				url = https://github.com/moritzschaefer/MUSK
[submodule "modules/data_collection_exp"]
	path = modules/data_collection_exp
	url = git@github.com:moritzschaefer/data_collection_exp.git
