.snakemake


# CeMM/Bockie repo convention
resources/
data/
metadata/
results/
/figures

cellwhisperer_env/


.ipynb_checkpoints
__pycache__
*.egg-info/
*.pytest_cache

lightning_logs
wandb/
logs/
log/
llava_logs/
.virtual_documents/
/src/experiments/205_llava_tuning_dataset/getting_mixtral_output.md
/src/experiments/205_llava_tuning_dataset/getting_mixtral_output.org

*.mp4
*nohup.out
*.old.*
*hidden*.html
*.log
*html*hidden
lsyncd*.conf
.aider*
.env
